node_modules/
chrome_data/
temp/
collections/
env/
__pycache__/
html_test/
execution_match/*_examples/*.js
revert_rewrite/test/load_override/*
results*
*.json
*.png
*.jpg
*.html
*.warc
*.log
!fidelity_check/testcases*.json
!misc/examples/*