node_modules/
chrome_data/
collections/
env/
__pycache__/


archived_code/error_match/
archived_code/execution_match/
archived_code/replayweb/
archived_code/revert_rewrite/

results*
*/downloads/
*.json
*.png
*.jpg
*.html
*.warc
*.log
*.npy
*.csv
!fidelity_check/testcases*.json
!misc/examples/*
!package.json