node_modules/
chrome_data/
collections/
env/
__pycache__/

results*
*/downloads/
*.json
*.png
*.jpg
*.html
*.warc
*.log
*.npy
*.csv
!fidex/fidelity_check/testcases*.json
!dataset/collections_list.json
!misc/examples/*
!package.json
!measurement/**